/*.grid {
    display:grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-areas:
    ". . . . "
    ". navbar navbar ."
    ". artshit artshit . "
    ". main-footer main-footer .";
}
*/
body{
    background-color: f4f4f4;
    color:#555;
    font-family:Helvetica,sans-serif;
    font-size:16px;
    line-height:1.6em;
    margin:0;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
    text-align: center;
}

.center{
    display: block;
    margin-left:auto;
    margin-right:auto;
}


#artshit {
    overflow: auto;
    padding-bottom: 600px;
    font-family: Verdana, 'Times New Roman', Times, serif;
    font-size: 11px;
    line-height: 40px;
}


#main-header{
    background-image: url("swirls.jpg");
    font-size:30px;
    text-align: center;
    background-color: rgb(73, 73, 73);
    color:white;
    font-family: Brush Script MT, Georgia, 'Times New Roman', Times, serif;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
  }

.fa-youtube {
    background: #bb0000;
    color: white;
  }
  

.fa-instagram{
    align-content: center;
}


.fa {
    padding-top: 10px;
    font-size: 50px;
    width: 40px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%; 
    align-items:right;
}

.fa-instagram {
    background: #125688;
    color: white;

}

.fa:hover {
    opacity: 0.7;
  }



#navbar{
    background-color: black;
    color: #fff;
    padding-top:5px;
    padding-bottom:10px; 
}


#navbar li{
    padding:0;
    list-style-type:none;

   display: inline-block;
    font-family: Brush Script MT, Georgia, 'Times New Roman', Times, serif;
    border-bottom: 3px solid clear;
    margin: 7px;

}

#navbar li a{
    color:#fff;
 
    text-decoration: none;
    text-align: center;
    font-size:20px;
    padding:5px 20px;
}


#navbar li a.active {
    border-bottom: 3px solid white;
}

#navbar li a:hover {
    background-color: #555; 
    border-bottom: 3px solid white;
}









#contactsheet {
    padding-left: 2cm;
    padding-bottom: 2cm;
    line-height: 1cm;
}

.formcontrol {
    width: 5cm;
    border: none;
    border-bottom: 1px solid grey; 
    border-left:1px solid #ccc;

}

.formcontrol:hover {
    opacity: 0.7;
}

.messagecontrol {
    width: 15cm;
    border:none;
    border-bottom:1px solid #555;
    border-left:1px solid #ccc;
}

.messagecontrol:hover {
    opacity: 0.7;
}

.button {
    background-color: #555;
    padding: 10px 2cm;
    color: #fff;
    margin-top: 1cm;
}

.button:hover {
    opacity: .7;
}








#main-footer{
    background-color:black;
    color: #fff;
    padding: 20px;
    text-align: center;

    position: relative;
    height: 100px;
    margin-bottom: -100px;
    width: 100%;
    clear: both;
}


@media screen and (min-width:736px)
{
 /*   display:grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-areas:
    ". . . . "
    ". navbar navbar . "
    ". artshit artshit . "
    ". main-footer main-footer . ";
*/
}